{% extends "base.html" %}

{% block content %}

<section id="testimonials">
    <!--Encabezado--->
    <div class="testimonial-heading">
        <span>Comentarios</span>
        <h4>Opiniones de Clientes</h4>
    </div>
    <!--Contenedor de cajas de testimonios------>
    <div class="testimonial-box-container">
        <!--CAJA-1-------------->
        <div class="testimonial-box">
            <!--Parte superior------------------------->
            <div class="box-top">
                <!--Perfil----->
                <div class="profile">
                    <!--Imagen---->
                    <div class="profile-img">
                        <img src="https://cdn3.iconfinder.com/data/icons/avatars-15/64/_Ninja-2-512.png" />
                    </div>
                    <!--Nombre y nombre de usuario-->
                    <div class="name-user">
                        <strong>Liam Mendes</strong>
                        <span>@liammendes</span>
                    </div>
                </div>
                <!--Valoraciones------>
                <div class="reviews">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i><!--Estrella vacía-->
                </div>
            </div>
            <!--Comentarios---------------------------------------->
            <div class="client-comment">
                <p>Hemos utilizado la aplicación para encontrar el transporte escolar adecuado, y la experiencia con mi hijo fue excelente. Puntuación de 4 estrellas debido a la puntualidad y la atención a la seguridad de los estudiantes.</p>
            </div>
        </div>
        <!--CAJA-2-------------->
        <div class="testimonial-box">
            <!--Parte superior------------------------->
            <div class="box-top">
                <!--Perfil----->
                <div class="profile">
                    <!--Imagen---->
                    <div class="profile-img">
                        <img src="https://cdn3.iconfinder.com/data/icons/avatars-15/64/_Ninja-2-512.png" />
                    </div>
                    <!--Nombre y nombre de usuario-->
                    <div class="name-user">
                        <strong>Noah Wood</strong>
                        <span>@noahwood</span>
                    </div>
                </div>
                <!--Valoraciones------>
                <div class="reviews">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i><!--Estrella vacía-->
                </div>
            </div>
            <!--Comentarios---------------------------------------->
            <div class="client-comment">
                <p>La aplicación hizo que encontrar transporte escolar con mi esposa fuera rápido y fácil. Su servicio es excepcional, y las 5 estrellas reflejan nuestra completa satisfacción con la puntualidad y la amabilidad.</p>
            </div>
        </div>
        <!--CAJA-3-------------->
        <div class="testimonial-box">
            <!--Parte superior------------------------->
            <div class="box-top">
                <!--Perfil----->
                <div class="profile">
                    <!--Imagen---->
                    <div class="profile-img">
                        <img src="https://cdn3.iconfinder.com/data/icons/avatars-15/64/_Ninja-2-512.png" />
                    </div>
                    <!--Nombre y nombre de usuario-->
                    <div class="name-user">
                        <strong>Oliver Queen</strong>
                        <span>@oliverqueen</span>
                    </div>
                </div>
                <!--Valoraciones------>
                <div class="reviews">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i><!--Estrella vacía-->
                </div>
            </div>
            <!--Comentarios---------------------------------------->
            <div class="client-comment">
                <p>Optamos por el transporte escolar de mi hija basándonos en las reseñas de los conductores en aplicación web. Aunque la experiencia fue positiva, otorgamos 4 estrellas debido a áreas que pueden mejorar en términos de comunicación.</p>
            </div>
        </div>
        <!--CAJA-4-------------->
        <div class="testimonial-box">
            <!--Parte superior------------------------->
            <div class="box-top">
                <!--Perfil----->
                <div class="profile">
                    <!--Imagen---->
                    <div class="profile-img">
                        <img src="https://cdn3.iconfinder.com/data/icons/avatars-15/64/_Ninja-2-512.png" />
                    </div>
                    <!--Nombre y nombre de usuario-->
                    <div class="name-user">
                        <strong>Barry Allen</strong>
                        <span>@barryallen</span>
                    </div>
                </div>
                <!--Valoraciones------>
                <div class="reviews">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i><!--Estrella vacía-->
                </div>
            </div>
            <!--Comentarios---------------------------------------->
            <div class="client-comment">
                <p>La aplicación nos permitió descubrir el transporte escolar de mis hijos, y la experiencia ha sido satisfactoria. Sin embargo, sugerimos mejoras en la interfaz para una mejor selección de rutas.</p>
            </div>
        </div>
    </div>
</section>

{% endblock content %}



